+markups(includable.compact)
  +markup
    //- Superior
    include /lib/markups/Common/ads
    include /lib/markups/Common/adsense
    include /lib/markups/Common/image
    include /lib/markups/Common/kind
    include /lib/markups/Common/meta

    //- Marcado propio
    include Common/head