*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

prepros-6.config
recycle/
Canvas-l3.xml
Canvas-l2.xml
Canvas-amp.xml