# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore files and folders
package-lock.json
.vscode
node_modules/
ignore/
dev/themes/*
build/*

# But not these files
!dev/themes/canvas
!build/canvas