//- Paginacion de comentarios
//- @author zkreations

b:includable(id="comment:pagination")
  .comments-paging
    b:if(cond='data:post.hasOlderLinks')
      a(expr:href='data:post.oldestLinkUrl') <data:messages.oldest/>
      a(expr:href='data:post.olderLinkUrl') <data:messages.older/>

    <data:post.commentRangeText/>

    b:if(cond='data:post.hasNewerLinks')
      a(expr:href='data:post.newerLinkUrl') <data:messages.newer/>
      a(expr:href='data:post.newestLinkUrl') <data:messages.newest/>