//- Librería de Google Adsense
//- @author zkreations

b:includable(id="$:adsense")
  b:if(cond='data:blog.adsenseHostId and not data:blog.adsenseAutoAds')
    b:tag(async, name='script',
      cond='data:blog.adsenseClientId and data:blog.adsenseHasAds',
      expr:src='"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" params {client: data:blog.adsenseClientId}',
      crossorigin="anonymous")