-
  const html = {
    layout3: {
      "b:defaultwidgetversion": "2",
      "b:layoutsVersion": "3",
      "expr:dir": "data:blog.languageDirection",
      "expr:lang": "data:blog.locale",
    }
  }
