-
  //- Functions
  //-
  //- Facilitan algunas tareas en Canvas y Blogger
  //- @author zkreations
  //- @link https://www.zkreations.com

  function getObjectData(object) { 
    return JSON.stringify(object)
      .replace(/"([^"]+)":\s*/g, "$1: ")
      .replace(/"(data:.[^"]*)"/g, "$1")
  }

  function capitalizeFirstLetter(string) {
    return (string.charAt(0).toUpperCase() + string.slice(1)).split('-').join(' ')
  }

  function sanitizeTitle(string) {
    return (string.normalize('NFKD').toLowerCase()
      .replace(/[^\w\s.-_\/]/g, '')
      .replace(/[^0-9A-z ]/g, '')
      .replace(/\s+/g, '-')
    )
  }

  function vars(variable) { 
    return "data:skin.vars." + variable.replace(".", "_")
  }