<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
include ../../../lib/init
block root

html&attributes(htmlAttr)(b:css="false", b:js="false")
  //
    #{"\n"}Canvas v#{canvas.version} | github.com/zkreations/canvas
  head
    block head 
      b:include(name="canvas:head")
      //- Etiqueta b:skin del tema (obligatorio pero se puede deshabiliar)
      +skin
        include ../assets/@root.txt

      +cdata("style")
        include ../assets/main.css
      
      +template-skin
        include ../assets/admin.css

      +defaultmarkups
        block defaultmarkups

  body
    block body