extends templates/default

append head
  //- Imagen responsive de fondo
  b:include(cond=`not ${view.preview}`,
    data='{ selector: "body", image: data:skin.vars.body_background.image }',
    name='responsiveImageStyle')

block body
  b:include(name="canvas:bodyClass")

  b:section#header
    include widgets/Header/main

  b:section#content
    include widgets/Blog/main
