
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
include /lib/init

html&attributes(html.layout3)(b:css='false' b:js='false')
  head
    b:include(name='head')
    +cdata("b:skin")
      | /*!
      |  * Name      : Tema
      |  * Version   : 1.0.0
      |  * Author    : Tu nombre
      |  * License   : GNU General Public License v2 or later
      |  *//* #{"\n"}
      include _variables
      | */ #{"\n"}

      include assets/skin.css

    //- Estilos
    +cdata
      include assets/main.css

    //- Estilos del modo Diseño
    b:if(cond='data:view.isLayoutMode')
      +cdata("b:template-skin")
        include assets/admin.css

    //- Etiqueta b:defaultmarkups
    include markups/init

  body
    b:include(name='$:kind')

    b:section#header
      include widgets/Header/main

    b:section#content
      include widgets/Blog/main