-
  //- Datos View
  //-
  //- Facilita utilizar los datos tipo "view"
  //- @author zkreations
  //- @link https://www.zkreations.com

  const view = {
    home: "data:view.isHomepage",
    feed: "data:view.isMultipleItems",
    single: "data:view.isSingleItem",
    post: "data:view.isPost",
    page: "data:view.isPage",
    archive: "data:view.isArchive",
    label: "data:view.isLabelSearch",
    search: "data:view.isSearch",
    error: "data:view.isError",
    preview: "data:view.isPreview",
    layout: "data:view.isLayoutMode",
  }