-
  //- Lista de etiquetas `b:includables` disponibles en Blogger
  //- No incluye los widgets de solo lectura:
  //-   * Followers
  //-   * Navbar
  //-   * Attribution
  //- @author zkreations

  const includable = {
    compact: {
      "All": [
        "main",
        "content",
      ],
      "AdSense,Blog": [
        "defaultAdUnit",
      ],
      "Blog,PopularPosts,FeaturedPost": [
        "blogThisShare",
        "bylineByName",
        "bylineRegion",
        "commentsLink",
        "commentsLinkIframe",
        "emailPostIcon",
        "facebookShare",
        "footerBylines",
        "headerByline",
        "googlePlusShare",
        "linkShare",
        "otherSharingButton",
        "platformShare",
        "postAuthor",
        "postCommentsLink",
        "postJumpLink",
        "postLabels",
        "postLocation",
        "postReactions",
        "postShareButtons",
        "postTimestamp",
        "sharingButton",
        "sharingButtonContent",
        "sharingButtons",
        "sharingButtonsMenu",
        "sharingPlatformIcon",
      ],
      "PopularPosts,FeaturedPost": [
        "snippetedPostByline",
        "snippetedPostContent",
        "snippetedPosts",
        "snippetedPostThumbnail",
        "snippetedPostTitle",
      ],
      "Blog": [
        "aboutPostAuthor",
        "addComments",
        "commentAuthorAvatar",
        "commentDeleteIcon",
        "commentForm",
        "commentFormIframeSrc",
        "commentItem",
        "commentList",
        "commentPicker",
        "comments",
        "commentsTitle",
        "feedLinks",
        "feedLinksBody",
        "homePageLink",
        "iframeComments",
        "inlineAd",
        "manageComments",
        "nextPageLink",
        "post",
        "postBody",
        "postBodySnippet",
        "postCommentsAndAd",
        "postFooter",
        "postFooterAuthorProfile",
        "postHeader",
        "postMeta",
        "postMetadataJSONImage",
        "postMetadataJSONPublisher",
        "postPagination",
        "postTitle",
        "previousPageLink",
        "threadedCommentForm",
        "threadedCommentJs",
        "threadedComments",
      ],
      "BlogArchive": [
        "flat",
        "hierarchy",
        "interval",
        "posts",
      ],
      "BlogSearch": [
        "searchForm",
        "searchSubmit",
      ],
      "Header": [
        "behindImageStyle",
        "description",
        "image",
        "title",
      ],
      "Label": [
        "cloud",
        "list",
      ],
      "PageList": [
        "overflowButton",
        "overflowablePageList",
        "pageLink",
        "pageList",
      ],
      "Profile": [
        "authorProfileImage",
        "defaultProfileImage",
        "profileImage",
        "teamProfile",
        "teamProfileLink",
        "userGoogleProfile",
        "userLocation",
        "userProfile",
        "userProfileData",
        "userProfileImage",
        "userProfileInfo",
        "userProfileLink",
        "userProfileText",
        "viewProfileLink",
      ],
      "Subscribe": [
        "feeds",
      ],
    },
    test: {
      AdSense: [
        "main",
        "defaultAdUnit",
      ],
      FeaturedPost: [
        "main",
        "blogThisShare",
        "bylineByName",
        "bylineRegion",
        "commentsLink",
        "commentsLinkIframe",
        "emailPostIcon",
        "facebookShare",
        "footerBylines",
        "googlePlusShare",
        "headerByline",
        "linkShare",
        "otherSharingButton",
        "platformShare",
        "postAuthor",
        "postCommentsLink",
        "postJumpLink' var='post",
        "postLabels",
        "postLocation",
        "postReactions",
        "postShareButtons",
        "postTimestamp",
        "sharingButton",
        "sharingButtonContent",
        "sharingButtons",
        "sharingButtonsMenu",
        "sharingPlatformIcon",
        "snippetedPostByline",
        "snippetedPostContent",
        "snippetedPostThumbnail",
        "snippetedPostTitle",
        "snippetedPosts",
      ],
      BlogSearch: [
        "main",
        "content",
        "searchForm",
        "searchSubmit",
      ],
      HTML: [
        "main",
      ],
      Profile: [
        "main",
        "authorProfileImage",
        "content",
        "defaultProfileImage",
        "profileImage",
        "teamProfile",
        "teamProfileLink",
        "userLocation",
        "userProfile",
        "userProfileData",
        "userProfileImage",
        "userProfileInfo",
        "userProfileText",
        "viewProfileLink",
      ],
      BlogArchive: [
        "main",
        "content",
        "flat",
        "hierarchy",
        "interval",
        "posts",
      ],
      Header: [
        "main",
        "behindImageStyle",
        "description",
        "image",
        "title",
      ],
      Image: [
        "main",
        "content",
      ],
      Label: [
        "main",
        "cloud",
        "content",
        "list",
      ],
      PageList: [
        "main",
        "content",
        "overflowButton",
        "overflowablePageList",
        "pageLink",
        "pageList",
      ],
      LinkList: [
        "main",
        "content",
      ],
      Text: [
        "main",
      ],
      PopularPosts: [
        "main",
        "blogThisShare",
        "bylineByName",
        "bylineRegion",
        "commentsLink",
        "commentsLinkIframe",
        "emailPostIcon",
        "facebookShare",
        "footerBylines",
        "googlePlusShare",
        "headerByline",
        "linkShare",
        "otherSharingButton",
        "platformShare",
        "postAuthor",
        "postCommentsLink",
        "postJumpLink",
        "postLabels",
        "postLocation",
        "postReactions",
        "postShareButtons",
        "postTimestamp",
        "sharingButton",
        "sharingButtonContent",
        "sharingButtons",
        "sharingButtonsMenu",
        "sharingPlatformIcon",
        "snippetedPostByline",
        "snippetedPostContent",
        "snippetedPostThumbnail",
        "snippetedPostTitle",
        "snippetedPosts",
      ],
      Stats: [
        "main",
        "content",
      ],
      BlogList: [
        "main",
        "content",
      ],
      Feed: [
        "main",
        "content",
      ],
      BloggerButton: [
        "main",
      ],
      Subscribe: [
        "main",
        "content",
        "feeds",
      ],
      Translate: [
        "main",
        "content",
      ],
      TextList: [
        "main",
        "content",
      ],
      ContactForm: [
        "main",
        "content",
      ],
      Wikipedia: [
        "main",
        "content",
      ],
      ReportAbuse: [
        "main",
      ],
      Blog: [
        "main",
        "aboutPostAuthor",
        "addComments",
        "blogThisShare",
        "bylineByName",
        "bylineRegion",
        "commentAuthorAvatar",
        "commentDeleteIcon",
        "commentForm",
        "commentFormIframeSrc",
        "commentItem",
        "commentList",
        "commentPicker",
        "comments",
        "commentsLink",
        "commentsLinkIframe",
        "commentsTitle",
        "defaultAdUnit",
        "emailPostIcon",
        "facebookShare",
        "feedLinks",
        "feedLinksBody",
        "footerBylines",
        "googlePlusShare",
        "headerByline",
        "homePageLink",
        "iframeComments",
        "inlineAd",
        "linkShare",
        "nextPageLink",
        "otherSharingButton",
        "platformShare",
        "post",
        "postAuthor",
        "postBody",
        "postBodySnippet",
        "postCommentsAndAd",
        "postCommentsLink",
        "postFooter",
        "postFooterAuthorProfile",
        "postHeader",
        "postJumpLink",
        "postLabels",
        "postLocation",
        "postMeta",
        "postMetadataJSONImage",
        "postMetadataJSONPublisher",
        "postPagination",
        "postReactions",
        "postShareButtons",
        "postTimestamp",
        "postTitle",
        "previousPageLink",
        "sharingButton",
        "sharingButtonContent",
        "sharingButtons",
        "sharingButtonsMenu",
        "sharingPlatformIcon",
        "threadedCommentForm",
        "threadedCommentJs",
        "threadedComments",
      ],
    }
  }
