-
  const canvas = {
    version: "2.0.0-beta1"
  }

  const htmlAttr = {
    "b:css": "false",
    "b:js": "false",
    "b:defaultwidgetversion": "2",
    "b:layoutsVersion": "3",
    "b:responsive": "true",
    "expr:dir": "data:blog.locale.languageDirection",
    "expr:lang": "data:blog.locale.language",
    "prefix": "og: http://ogp.me/ns#"
  }
