-
  //- Blogger includables
  //-
  //- Lista de etiquetas `b:includables` de todos los widgets
  //- No incluye los widgets de solo lectura:
  //-   * Followers
  //-   * Navbar
  //-   * Attribution
  //- Tampoco incluye:
  //-   * BloggerButton
  //- @author zkreations
  //- @link https://www.zkreations.com

  var widgetIncludes = {
    "BlogList,ContactForm,Feed,HTML,Image,LinkList,Stats,TextList,Translate,Wikipedia": [
      "content",
    ],
    "Blog,PopularPosts,FeaturedPost": [
      "blogThisShare",
      "bylineByName",
      "bylineRegion",
      "commentsLink",
      "commentsLinkIframe",
      "emailPostIcon",
      "facebookShare",
      "footerBylines",
      "headerByline",
      "googlePlusShare",
      "linkShare",
      "otherSharingButton",
      "platformShare",
      "postAuthor",
      "postCommentsLink",
      "postJumpLink",
      "postLabels",
      "postLocation",
      "postReactions",
      "postShareButtons",
      "postTimestamp",
      "sharingButton",
      "sharingButtonContent",
      "sharingButtons",
      "sharingButtonsMenu",
      "sharingPlatformIcon",
    ],
    "PopularPosts,FeaturedPost": [
      "snippetedPostByline",
      "snippetedPostContent",
      "snippetedPosts",
      "snippetedPostThumbnail",
      "snippetedPostTitle",
    ],
    "Blog": [
      "aboutPostAuthor",
      "addComments",
      "commentAuthorAvatar",
      "commentDeleteIcon",
      "commentForm",
      "commentFormIframeSrc",
      "commentItem",
      "commentList",
      "commentPicker",
      "comments",
      "commentsTitle",
      "defaultAdUnit",
      "feedLinks",
      "feedLinksBody",
      "homePageLink",
      "iframeComments",
      "inlineAd",
      "manageComments",
      "nextPageLink",
      "post",
      "postBody",
      "postBodySnippet",
      "postCommentsAndAd",
      "postFooter",
      "postFooterAuthorProfile",
      "postHeader",
      "postMeta",
      "postMetadataJSONImage",
      "postMetadataJSONPublisher",
      "postPagination",
      "postTitle",
      "previousPageLink",
      "threadedCommentForm",
      "threadedCommentJs",
      "threadedComments",
    ],
    "BlogArchive": [
      "content",
      "flat",
      "hierarchy",
      "interval",
      "posts",
    ],
    "BlogSearch": [
      "content",
      "searchForm",
      "searchSubmit",
    ],
    "Header": [
      "behindImageStyle",
      "description",
      "image",
      "title",
    ],
    "Label": [
      "cloud",
      "content",
      "list",
    ],
    "PageList": [
      "content",
      "overflowButton",
      "overflowablePageList",
      "pageLink",
      "pageList",
    ],
    "Profile": [
      "authorProfileImage",
      "content",
      "defaultProfileImage",
      "profileImage",
      "teamProfile",
      "teamProfileLink",
      "userGoogleProfile",
      "userLocation",
      "userProfile",
      "userProfileData",
      "userProfileImage",
      "userProfileInfo",
      "userProfileLink",
      "userProfileText",
      "viewProfileLink",
    ],
    "Subscribe": [
      "content",
      "feeds",
    ],
  }

  //- Blogger Calls
  //-
  //- Numero inicial de recuento de widgets
  //- @author zkreations
  //- @link https://www.zkreations.com

  const widgetCalls = {
    Blog: 1,
    BlogArchive: 1,
    BlogList: 1,
    BlogSearch: 1,
    ContactForm: 1,
    FeaturedPost: 1,
    Feed: 1,
    Header: 1,
    HTML: 1,
    Image: 1,
    Label: 1,
    LinkList: 1,
    PageList: 1,
    PopularPosts: 1,
    Profile: 1,
    Stats: 1,
    Subscribe: 1,
    TextList: 1,
    Translate: 1,
    Wikipedia: 1,
  }