/*daniel-form v1.0.0*/

/*RobotoDraft*/
@font-face {
    font-family: RobotoDraft;
    font-style: normal;
    font-weight: 400;
    src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(https://fonts.gstatic.com/s/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
    font-family: RobotoDraft;
    font-style: normal;
    font-weight: 500;
    src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(https://fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwaTA90I55Xt7owhZwpPnMsc.woff) format('woff');
}
@font-face {
    font-family: RobotoDraft;
    font-style: normal;
    font-weight: 700;
    src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(https://fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

/*mini-reset*/
.daniel-form, 
.daniel-form *, 
.daniel-form ::after, 
.daniel-form ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
	font-family: 'RobotoDraft', sans-serif;
}
.daniel-form .form-error-message img,
.daniel-form .form-header {display: none;}
.daniel-form .form-buttons-wrapper {margin: 0 !important;}
.daniel-form .form-captcha img[alt=Reload],
.daniel-form .form-captcha input {display: inline-block;}
.daniel-form .form-captcha input {margin-top: 1em;}

.daniel-form {
    font-size: 14px;
}