//- Comentarios de Blogger
//- @author zkreations

//- Superior
include /lib/markups/Blog/commentAvatar
include /lib/markups/Blog/commentDeleteIcon
include /lib/markups/Blog/commentReplyIcon

include /lib/markups/Blog/commentHeader
include /lib/markups/Blog/commentBody

include /lib/markups/Blog/commentList
include /lib/markups/Blog/commentItem

include /lib/markups/Blog/commentForm
include /lib/markups/Blog/commentPaging

include /lib/markups/Blog/threadedCommentJs

include /lib/markups/Blog/comments


