//- Default Ad Unit
//-
//- Reemplazo de la inclusión defaultAdUnit
//- @author zkreations
//- @link https://www.zkreations.com

b:includable(id="canvas:ads")
  ins.adsbygoogle(data-ad-format='auto',
    expr:data-ad-client='data:adClientId ?: data:blog.adsenseClientId',
    expr:data-ad-host='data:blog.adsenseHostId',
    data-full-width-responsive="true",
    expr:data-analytics-uacct='data:blog.analyticsAccountNumber',
    expr:style='data:style ?: "display: block;"')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});