//- Classes
//-
//- Agrega las clases por tipo para desarrollo
//- @author zkreations
//- @link https://www.zkreations.com

b:includable(id='canvas:bodyClass')
  each data, key in view
    if key !== "layout"
      b:class(cond=data, name='is-' + key)
  b:if(cond="data:entryId")
    b:class(cond=view.single, expr:name='+("entry-id-",(data:view.postId ?: data:view.pageId))')
