//- Snippet
//-
//- Trunca datos tipo string
//- @author zkreations
//- @link https://www.zkreations.com

b:includable(id='canvas:truncate')
  b:eval(expr='data:string snippet { length: (data:length ?: 50), links: false, linebreaks: false, ellipsis: (data:ellipsis ?: false) }')