-
  //- Configuración
  //-
  var blogger = {
    //- Tema para el formulario => {string}: soho, emporio, notable, essential, contempo
    commentsTheme: "emporio",

    //- Habilita las variables => {boolean}
    //- Nota: Utilizar variables del tema manualmente (obligatorio)
    commentsThemeVars: true,

    //- Agrega meta datos de canvas (robots, open graph, twitter card) => {boolean}
    headMeta: true,

    //- Agrega Analytics (GA-4) => {boolean}
    analytics: true,

    //- Agrega Adsense => {boolean}
    adsense: true
  }

  //- Información del tema
  //-
  var themeInfo = {
    "Theme": "YOUR_THEME_NAME",
    "Version": "1.0.0",
    "License": "GNU General Public License v2 or later",
    "Core": "Canvas v" + canvas.version + " (https://github.com/zkreations/canvas)",
  }

  //- Variables de Blogger
  //-
  var style = {
    //- Ajustes
    configuration: {
      "c.comments": { description: "Comments system", value: "blogger" }, //- {string} => blogger, disqus shortname
      "c.newFirst": { description: "New comments first", value: "true" }, //- {boolean}
      "c.linkFilter": { description: "Enable link filter", value: "true" }, //- {boolean}
      "c.replies": { description: "Enable replies", value: "true" }, //- {boolean}
    },

    //- Enlaces por defecto {url}
    defaults: {
      "d.image" : { description: "Imagen"},
      "d.avatar" : { description: "Avatar", value: "https://lh3.googleusercontent.com/a/default-user"},
      "d.cookie" : { description: "About the cookies", value: "https://www.blogger.com/go/blogspot-cookies"},
    },

    //- Texto traducible {string}
    texts: {
      "t.404" : { description: "Error 404", value: "Error 404"}, 
      "t.reply" : { description: "Reply", value: "Responder"},
      "t.nolinks" : { description: "no Links", value: "Los enlaces no están permitidos"},
      "t.cookie" : { description: "Cookie notice"},
    },
    
    customize: {
      //- Define el color principal (obligatorio)
      "keycolor" : { description: "keycolor", default: "#2196f3"},

      //- Define el fondo principal (obligatorio)
      "Backgrounds": {
        selector: "body",
        group: {
          "body.background": {
            description: "Background",
            type: "background",
            color: "$(body.background.color)",
            default: "$(color) none repeat scroll top center"
          },
          "body.background.color": {
            description: "Body background color",
            type: "color",
            default: "#fff"
          },
        },
      },
    }
  }