-
  var blogger = {

    //- Tema para el formulario => soho, emporio, notable, essential, contempo
    commentsTheme: "emporio",

    //- Habilita las variables => boolean
    //- Nota: Utilizar variables del tema manualmente o recibiras un error del formulario
    commentsThemeVars: true,

    //- Agrega meta datos de canvas (robots, open graph, twitter card) => boolean
    headMeta: true,

    //- Agrega Analytics (GA-4)
    analytics: true,

    //- Agrega adsense
    adsense: true
  }

  //- Informacion del tema
  var themeInfo = {
    "Theme": "YOUR_THEME_NAME",
    "Version": "1.0.0",
    "License": "GNU General Public License v2 or later",
  }