-
  var blogger = {

    //- Tema para el formulario
    commentsTheme: "emporio",

    //- Habilita las variables (requiere: commentsTheme)
    //- Nota: Al desactivar, utilizar todas las variables del tema escogido manualmente,
    //-   si no se especifican obtendras un error en el formulario
    commentsThemeVars: true,

    //- Agrega meta datos de canvas:
    //-   * Robots
    //-   * Open Graph
    //-   * Twitter Card
    headMeta: true,

    //- Agrega Analytics (GA-4)
    analytics: true,

    //- Agrega adsense
    adsense: true
  }

  //- Informacion del tema
  var themeInfo = {
    "Theme": "YOUR_THEME_NAME",
    "Version": "1.0.0",
    "License": "GNU General Public License v2 or later",
  }