//- Contenido del widget AdSense
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/06/widget-adSense.html

b:includable(id='widget:AdSense')
  b:comment El código de tu widget Aqui
