//- Contenido del widget BlogList
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/05/widget-blogList.html

b:includable(id='widget:BlogList')
  b:comment El código de tu widget Aqui
