//- Contenido del widget BlogSearch
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/05/widget-blogSearch.html

b:includable(id='widget:BlogSearch')
  b:comment El código de tu widget Aquí
