//- Contenido del widget ContactForm
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/05/widget-contactForm.html

b:includable(id='widget:ContactForm')
  b:comment El código de tu widget Aqui
