//- Contenido del widget FeaturedPost
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/05/widget-featuredPost.html

b:includable(id='widget:FeaturedPost')
  b:comment El código de tu widget Aqui
