//- Contenido del widget Image
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/04/widget-image.html

b:includable(id='widget:Image')
  b:comment El código de tu widget Aquí
