//- Contenido del widget Label
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/04/widget-label.html

b:includable(id='widget:Label')
  b:comment El código de tu widget Aquí
