//- Contenido del widget LinkList
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/04/widget-linkList.html

b:includable(id='widget:LinkList')
  b:comment El código de tu widget Aqui
