//- Contenido del widget PageList
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/04/widget-pageList.html

b:includable(id='widget:PageList')
  b:comment El código de tu widget Aquí
