//- Contenido del widget Profile
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/04/widget-profile.html

b:includable(id='widget:Profile')
  b:comment El código de tu widget Aqui
