//- Contenido del widget TextList
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/03/widget-textList.html

b:includable(id='widget:TextList')
  b:comment El código de tu widget Aqui
