//- Contenido del widget Text
//- @author zkreations
//- @docs https://bloggercode-blogconnexion.blogspot.com/2019/03/widget-text.html

b:includable(id='widget:Text')
  b:comment El código de tu widget Aqui
