//- Contenido de las entradas
//- @author zkreations

+widget("Blog", { showCommentLink: "true" })(locked='true')
  //- La variable "this" almacenar치 datos de este widget
  b:includable#main(var='this')

    b:with(value='data:widgets.Blog.first.allBylineItems' var='show')
      //- data:show.share (Botones de compartir)
      //- data:show.author (Perfil del author)
      //- data:show.timestamp (Fecha de publicaci칩n)
      //- data:show.comments (Comentarios)
      //- data:show.labels (Etiquetas)
      //- data:show.icons (Bot칩n enviar por email)

      //- Bucle con la tabla posts
      b:loop(values='data:posts' var='post')
        b:include(data='post' name='post')

      //- Incluye la paginaci칩n solo en el feed
      b:include(cond='data:view.isMultipleItems' name='postPagination')

  //- Incluye las entradas
  b:includable#post(var='post')

    b:if(cond='data:view.isMultipleItems')
      include content/feed

      b:elseif(cond='data:view.isPost')
      include content/post

      b:elseif(cond='data:view.isPage')
      include content/page

  //- Superior
  include /lib/markups/Blog/postMetadataJSONImage

  //- Inclusiones propias
  include includes/inlineAd
  include includes/comments
  include includes/pagination
