/*! skin.css */
:where(.item-control) { display: none }

/* Dev */
:root {
  --body-color: $(body.background.color);
  --body-bg: $(body.background);
  --color-text: $(color.text);
  --color-border: $(color.border);
  --color-header: $(color.header);
  --bg-page: $(bg.page);
  --bg-post: $(bg.post);
  --bg-header: $(bg.header)
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(min(100%,16rem),1fr));
  gap: 2rem;
}

* { margin: 0 }

*,
::after,
::before { box-sizing: border-box }

body {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  background: var(--body-bg);
  background-size: cover;
  background-color: var(--body-color);
  padding: calc(1rem + 1vw);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text)
}

a { text-decoration: none }
img, svg, video { height: auto }
hidden { display: none }
iframe { border: 0 none }

iframe, img, object, svg, video {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word }

.template {
  padding: 2rem;
  background-color: var(--bg-page);
  max-width: 1000px;
  margin: auto;
  box-shadow: 0px 24px 38px 3px rgba(0,0,0,0.14),
  0px 9px 46px 8px rgba(0,0,0,0.12),
  0px 11px 15px -7px rgba(0,0,0,0.2);
}

/* Header */

.header {
  padding: 3rem 0;
  font-size: 1.75rem;
  text-align: center;
  background-color: #0f172a;
}

.header a { color: #fff }
.main { margin: 2rem 0 }

/* Cards */

.card { background-color: var(--bg-post) }
.card-image { width: 100%}

.card-title {
  font-size: 1rem;
  padding: 1.5rem;
  color: var(--color-text);
  font-weight: 500;
}

.blog-pager {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.pager-button {
  padding: 1rem;
  flex: 1 0 auto;
  background-color: var(--bg-post);
  color: var(--color-text);
  text-align: center;
}

/* Post */

.post-header {
  padding-bottom: 2rem;
  text-align: center;
}

.post-date {
  margin-top: .5rem;
  display: block;
  text-transform: capitalize;
}

.post-body > * + * { margin-top: 1.5rem }

/* Comments */

.post-comment { margin-top: 2rem }
.comments > * + * { margin-top: 2rem }

.comment-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.comments-replies {
  margin-top: 2rem;
  padding-left: 1.5rem;
  border-left: 2px solid var(--color-border);
}

.comments-title {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.comment-iframe {
  padding: 1rem;
  background-color: var(--bg-post);
}

.comment-restore-button:not(.is-replying) { display: none }
.comment-time { display: block }
.comments-replies > * + * { margin-top: 2rem }
.comment-footer { margin-top: 1rem }

/* Footer */

.footer {
  padding-top: 2rem;
  text-align: center;
  border-top: 2px dashed var(--color-border);
}