//- Blogger Ads
//-
//- Inserta Los anuncios de adsense entre los articulos
//- @author zkreations
//- @link https://www.zkreations.com

//- ANUNCIOS
b:includable#inlineAd(var='post')
  //- Inserta anuncios solo en donde se solicitan
  b:if(cond='data:post.includeAd')

    //- La cantidad de anuncios totales (Incrustados y widgets Adsense)
      no deben superar el limite de "3", (recomendado)
    b:if(cond='data:post.adNumber + data:widgets.AdSense.size lt 3')

      //- Codigo de anuncios del servidor
      b:include(name='super.inlineAd')