/*!Anime CSS Comment (dark) v1.0.4*/
.comment {
    position: relative;
    margin: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
}
.comment-content {
    color: rgba(255, 255, 255, 0.8);
    padding: .2rem 0;
}
.comment-replies .comment, 
.comment-replybox-single,
.comment-replybox-thread {
    margin-left: 5rem;
	border: 0 none;
}
.comment-thread ol,
.comment-thread li {
    list-style-type: none;
    text-align: left;
}
.comment-thread ol {
    padding: 0;
}
.comment-thread li::after {
    content: "";
    clear: both;
    display: block;
}
.comment-block {
    font-size: 1.1rem;
    line-height: 1.6rem;
	margin-left: 80px;
}
.comment-header .user {
    margin-right: .2rem;
}
.comment-header .user, 
.comment-header .user a {
    font-style: normal;
    font-weight: 500;
	color: #fff;
}
.comment-header .datetime > a {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-size: .95rem;
}
.comment-replies .comment-block {
    margin-left: 4rem;
}
.avatar-image-container {
    background-size: cover;
    background-color: #4c4c4c;
    float: left;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 2px 3px -2px rgba(0,0,0,.5), 0 0 2px 0 rgba(0,0,0,0.1);
    margin-top: 4px;
}
.avatar-image-container img {
    width: 100%;
}
.comment-replies .avatar-image-container {
    width: 38px;
    height: 38px;
}
.thread-toggle {
    position: absolute;
    right: 0;
    top: 1rem;
    z-index: 40;
}
.thread-toggle a {
    text-indent: -9999px;
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    opacity: 0.5;
    background: url(https://1.bp.blogspot.com/-i_D3S7FJ0cQ/Wgeyzv_P4jI/AAAAAAAADBE/QweuVkoD9REO_ELAgYlJRlqCPrBvZOlqwCLcBGAs/s1600/arrow-down-white.png) no-repeat center transparent;
}
.thread-toggle.thread-expanded a {
    background-image: url(https://1.bp.blogspot.com/-Rf6wD0hyXnw/WgeyzhhcirI/AAAAAAAADBA/WQpnZI9SQyYFLyG9gpa3aciOvEUAkz8NACLcBGAs/s1600/arrow-up-white.png);
}
.thread-toggle a:hover {
    opacity: 0.9;
}
.comment-form {
    padding-top: 1rem;
}
.continue,
.loadmore,
.thread-chrome.thread-collapsed {display: none;}