//- Inclusion principal de comentarios
//- @author zkreations
//- @param {number} minDepth - Nivel mínimo
//- @param {number} [maxDepth=5] - Nivel máximo
//- @param {boolean} [newestFirst=false] - Más nuevos primero
//- @param {boolean} [filterLinks=false] - Filtrar enlaces
//- @param {string} [hiddenText=data:messages.hidden] - Texto del filtro
//- @param {string} [deleteText=data:messages.deleteComment] - Texto del botón eliminar
//- @param {string} [replyText=data:messages.postAComment] - Texto del botón responder
//- @param {number} [avatarSize=40] - Tamaño del avatar
//- @param {image} [avatarDefault=https://lh3.googleusercontent.com/a/default-user] - Avatar por defecto

b:includable#comments
  b:if(cond='not data:view.isPreview and data:post.allowComments')
    .comments#comments
      b:include(name='commentList' data='post')