//- Lista de entradas
//- @author zkreations

article.card
  a.card-content(expr:href='data:post.url.canonical')
    b:include(name='@:image' data='{ class: "card-image", src: data:post.featuredImage, resize: 500, ratio: "4:3" }')
    h2.card-title <data:post.title/>