
| Comentarios
| =====================
+variables({
  "c.depth" : { description: "Replies level", value: "2" },
  "c.newer" : { description: "New comments first", value: "true" },
  "c.filter": { description: "Enable link filter", value: "true" },
}) 
| #{'\n'}

| Recursos por defecto
| =====================
+variables({
  "d.image"  : { description: "Imagen", value: ""},
  "d.avatar" : { description: "Avatar", value: "https://lh3.googleusercontent.com/a/default-user"},
})
| #{'\n'}

| Personalizar
| =====================
Group(description="Backgrounds" selector="body")
  +variables({ 
    "body.background": {
      description: "Background",
      type: "background",
      color: "$(body.background.color)",
      value: "$(color) none repeat scroll top center"
    },
    "body.background.color": {
      description: "Body background color",
      type: "color",
      value: "#fff"
    },
  })
| #{'\n'}


| Personalizar comentarios
| =====================
+variables({
  "posts.text.color": { description: "Text color", value: "#777" },
  "posts.text.font": { description: "Font family", value: "15px Roboto" },
  "posts.background.color": { description: "Background", value: "transparent" },
  "posts.link.color": { description: "0", value: "0" },
  "posts.title.color": { description: "1", value: "0" },
  "body.link.color": { description: "2", value: "0" },
  "body.text.font": { description: "3", value: "0" },
})
