//- Cuerpo de comentarios y respuestas
//- @author zkreations

b:includable#commentItem(var='comment')
  b:with(value='1 + (data:currentDepth ?: -1)' var='currentDepth')
    .comment(expr:id='"c" + data:comment.id' expr:data-depth='data:currentDepth')
      //- Avatar
      .comment-avatar
        b:include(name="commentAvatar")
      //- Comentario
      .comment-block
        .comment-header
          b:include(name="commentHeader")
        .comment-body
          b:include(name="commentBody")
        //- Botón eliminar
        b:include(name="commentDeleteIcon")

        //- Si las respuestas están habilitadas
        b:if(cond="(data:depth gt 0) and (data:currentDepth lt data:depth)")
          b:include(name="commentReplyIcon")
          .comments-replies
            //- Filtramos las respuestas que corresponden al comentario padre
            b:loop(values="data:post.comments where (c => c.inReplyTo == data:comment.id)" var='reply')
              b:include(name='commentItem' data='reply')

            //- Contenedor del formulario para responder
            b:include(cond='data:post.allowNewComments' name='commentForm' data='{ isReply: true }')
