//- Formulario de comentarios
//- @author zkreations

b:includable#commentForm
  .comments-form#comment-form-thread
    iframe(expr:src='data:post.commentFormIframeSrc params {skin: "emporio", blogID: data:blog.blogId }' frameborder='0' width='100%' height="200" loading="lazy")
