//- Código javascript para comentarios
//- @author zkreations

b:includable#threadedCommentJs
  script(src="https://cdn.jsdelivr.net/gh/zkreations/canvas-assets@1/dist/js/comments.min.js" crossorigin="anonymous" defer)
  script.
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', () => {
      commentsReply();
    });
    /*]]>*/
