+markups(includable.compact)
  +markup
    //- Superior
    +default-tools

    //- Head
    include Common/head/content

    //- Comentarios
    include Common/comment/avatar
    include Common/comment/body
    include Common/comment/buttons
    include Common/comment/content
    include Common/comment/form
    include Common/comment/header
    include Common/comment/item
    include Common/comment/main
    include Common/comment/pagination

    //- Entradas
    include Common/post/view
    include Common/post/pagination

    //- Widgets
    include Common/widget/AdSense
    include Common/widget/Blog
    include Common/widget/BlogArchive
    include Common/widget/BlogList
    include Common/widget/BlogSearch
    include Common/widget/ContactForm
    include Common/widget/FeaturedPost
    include Common/widget/Feed
    include Common/widget/Header
    include Common/widget/HTML
    include Common/widget/Image
    include Common/widget/Label
    include Common/widget/LinkList
    include Common/widget/PageList
    include Common/widget/PopularPosts
    include Common/widget/Profile
    include Common/widget/Text
    include Common/widget/TextList

  +markup("All")
    b:includable#main
      b:include(name='widget-title')
      b:include(name='content')
    b:includable#content
      .widget-content
        b:include(expr:name='"widget:" + data:widget.type')

  +markup("Header,Blog")
    b:includable#content
    b:includable#main
      b:include(expr:name='"widget:" + data:widget.type')